# OS files
.DS_Store
Thumbs.db

# Node (if you use npm at all)
node_modules/

# Logs
*.log

# Environment variables
.env

# Build folders
dist/
build/

# VS Code
.vscode/

# Mac system files
.AppleDouble
.LSOverride